gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
**/*.keystore
**/*.jks
/app/build/intermediates/flutter/debug/.last_build_id
/app/build/intermediates/assets/debug/flutter_assets/assets/images/logos/ic_launcher-2/1024.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/logos/ic_launcher-2/1024.png
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/logos/ic_launcher-2/1024.png.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/animations/53207-empty-file.json
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/animations/53207-empty-file.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/animations/53207-empty-file.json.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/animations/67263-security-icon-transparent.json
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/animations/67263-security-icon-transparent.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/animations/67263-security-icon-transparent.json.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/animations/72462-check-register.json
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/animations/72462-check-register.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/animations/72462-check-register.json.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/animations/72785-searching.json
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/animations/72785-searching.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/animations/72785-searching.json.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/animations/98783-packaging-in-progress.json
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/animations/98783-packaging-in-progress.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/animations/98783-packaging-in-progress.json.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/animations/104368-thank-you.json
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/animations/104368-thank-you.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/animations/104368-thank-you.json.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/animations/110052-paper-plane.json
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/animations/110052-paper-plane.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/animations/110052-paper-plane.json.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/animations/120978-payment-successful.json
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/animations/120978-payment-successful.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/animations/120978-payment-successful.json.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/animations/136491-animation-lottie-car-rides.json
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/animations/136491-animation-lottie-car-rides.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/animations/136491-animation-lottie-car-rides.json.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/animations/140429-pencil-drawing.json
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/animations/140429-pencil-drawing.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/animations/140429-pencil-drawing.json.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/animations/141397-loading-juggle.json
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/animations/141397-loading-juggle.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/animations/141397-loading-juggle.json.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/animations/141594-animation-of-docer.json
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/animations/141594-animation-of-docer.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/animations/141594-animation-of-docer.json.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/lottie/advertise.json
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/lottie/advertise.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/lottie/advertise.json.jar
/app/build/outputs/apk/debug/app-debug.apk
/app/build/intermediates/assets/debug/flutter_assets/AssetManifest.bin
/app/build/intermediates/flutter/debug/flutter_assets/AssetManifest.bin
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/AssetManifest.bin.jar
/app/build/intermediates/assets/debug/flutter_assets/AssetManifest.json
/app/build/intermediates/flutter/debug/flutter_assets/AssetManifest.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/AssetManifest.json.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/lottie/category.json
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/lottie/category.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/lottie/category.json.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/animations/cloud-uploading-animation.json
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/animations/cloud-uploading-animation.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/animations/cloud-uploading-animation.json.jar
/app/build/intermediates/assets/debug/flutter_assets/packages/flutter_charts/google_fonts/Comforter-Regular.ttf
/app/build/intermediates/flutter/debug/flutter_assets/packages/flutter_charts/google_fonts/Comforter-Regular.ttf
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/packages/flutter_charts/google_fonts/Comforter-Regular.ttf.jar
/app/build/intermediates/assets/debug/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
/app/build/intermediates/flutter/debug/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf.jar
/app/build/intermediates/assets/debug/flutter_assets/packages/awesome_dialog/assets/flare/error.flr
/app/build/intermediates/flutter/debug/flutter_assets/packages/awesome_dialog/assets/flare/error.flr
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/packages/awesome_dialog/assets/flare/error.flr.jar
/app/build/intermediates/assets/debug/flutter_assets/packages/awesome_dialog/assets/rive/error.riv
/app/build/intermediates/flutter/debug/flutter_assets/packages/awesome_dialog/assets/rive/error.riv
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/packages/awesome_dialog/assets/rive/error.riv.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/lottie/event.json
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/lottie/event.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/lottie/event.json.jar
/app/build/intermediates/assets/debug/flutter_assets/packages/font_awesome_flutter/lib/fonts/fa-brands-400.ttf
/app/build/intermediates/flutter/debug/flutter_assets/packages/font_awesome_flutter/lib/fonts/fa-brands-400.ttf
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/packages/font_awesome_flutter/lib/fonts/fa-brands-400.ttf.jar
/app/build/intermediates/assets/debug/flutter_assets/packages/font_awesome_flutter/lib/fonts/fa-regular-400.ttf
/app/build/intermediates/flutter/debug/flutter_assets/packages/font_awesome_flutter/lib/fonts/fa-regular-400.ttf
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/packages/font_awesome_flutter/lib/fonts/fa-regular-400.ttf.jar
/app/build/intermediates/assets/debug/flutter_assets/packages/font_awesome_flutter/lib/fonts/fa-solid-900.ttf
/app/build/intermediates/flutter/debug/flutter_assets/packages/font_awesome_flutter/lib/fonts/fa-solid-900.ttf
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/packages/font_awesome_flutter/lib/fonts/fa-solid-900.ttf.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/lottie/fast-delivery.json
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/lottie/fast-delivery.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/lottie/fast-delivery.json.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/lottie/finance.json
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/lottie/finance.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/lottie/finance.json.jar
/app/build/intermediates/flutter/debug/flutter_build.d
/app/build/intermediates/assets/debug/flutter_assets/FontManifest.json
/app/build/intermediates/flutter/debug/flutter_assets/FontManifest.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/FontManifest.json.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/png/forgot-illustration.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/png/forgot-illustration.png
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/png/forgot-illustration.png.jar
/app/build/intermediates/assets/debug/flutter_assets/packages/iconsax/lib/assets/fonts/iconsax.ttf
/app/build/intermediates/flutter/debug/flutter_assets/packages/iconsax/lib/assets/fonts/iconsax.ttf
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/packages/iconsax/lib/assets/fonts/iconsax.ttf.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/png/illustration-auth-selection.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/png/illustration-auth-selection.png
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/png/illustration-auth-selection.png.jar
/app/build/intermediates/assets/debug/flutter_assets/packages/awesome_dialog/assets/flare/info.flr
/app/build/intermediates/flutter/debug/flutter_assets/packages/awesome_dialog/assets/flare/info.flr
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/packages/awesome_dialog/assets/flare/info.flr.jar
/app/build/intermediates/assets/debug/flutter_assets/packages/awesome_dialog/assets/rive/info.riv
/app/build/intermediates/flutter/debug/flutter_assets/packages/awesome_dialog/assets/rive/info.riv
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/packages/awesome_dialog/assets/rive/info.riv.jar
/app/build/intermediates/assets/debug/flutter_assets/packages/awesome_dialog/assets/flare/info2.flr
/app/build/intermediates/flutter/debug/flutter_assets/packages/awesome_dialog/assets/flare/info2.flr
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/packages/awesome_dialog/assets/flare/info2.flr.jar
/app/build/intermediates/assets/debug/flutter_assets/packages/awesome_dialog/assets/rive/info_reverse.riv
/app/build/intermediates/flutter/debug/flutter_assets/packages/awesome_dialog/assets/rive/info_reverse.riv
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/packages/awesome_dialog/assets/rive/info_reverse.riv.jar
/app/build/intermediates/assets/debug/flutter_assets/packages/awesome_dialog/assets/flare/info_without_loop.flr
/app/build/intermediates/flutter/debug/flutter_assets/packages/awesome_dialog/assets/flare/info_without_loop.flr
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/packages/awesome_dialog/assets/flare/info_without_loop.flr.jar
/app/build/intermediates/assets/debug/flutter_assets/shaders/ink_sparkle.frag
/app/build/intermediates/flutter/debug/flutter_assets/shaders/ink_sparkle.frag
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/shaders/ink_sparkle.frag.jar
/app/build/intermediates/assets/debug/flutter_assets/isolate_snapshot_data
/app/build/intermediates/flutter/debug/flutter_assets/isolate_snapshot_data
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/isolate_snapshot_data.jar
/app/build/intermediates/assets/debug/flutter_assets/kernel_blob.bin
/app/build/intermediates/flutter/debug/flutter_assets/kernel_blob.bin
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/kernel_blob.bin.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/animations/lady-adding-product-in-cart-animation.json
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/animations/lady-adding-product-in-cart-animation.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/animations/lady-adding-product-in-cart-animation.json.jar
/app/build/intermediates/flutter/debug/libs.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/animations/loader-animation.json
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/animations/loader-animation.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/animations/loader-animation.json.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/logos/log-lg.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/logos/log-lg.png
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/logos/log-lg.png.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/logos/logo-lg-bw.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/logos/logo-lg-bw.png
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/logos/logo-lg-bw.png.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/logos/logo-md.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/logos/logo-md.png
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/logos/logo-md.png.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/lottie/lotijson1.json
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/lottie/lotijson1.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/lottie/lotijson1.json.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/lottie/manage.json
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/lottie/manage.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/lottie/manage.json.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/lottie/manage_prod.json
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/lottie/manage_prod.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/lottie/manage_prod.json.jar
/app/build/outputs/logs/manifest-merger-debug-report.txt
/app/build/intermediates/assets/debug/flutter_assets/fonts/MaterialIcons-Regular.otf
/app/build/intermediates/flutter/debug/flutter_assets/fonts/MaterialIcons-Regular.otf
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/fonts/MaterialIcons-Regular.otf.jar
/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
/app/build/intermediates/assets/debug/flutter_assets/packages/flutter_3d_controller/assets/model-viewer.min.js
/app/build/intermediates/flutter/debug/flutter_assets/packages/flutter_3d_controller/assets/model-viewer.min.js
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/packages/flutter_3d_controller/assets/model-viewer.min.js.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/png/new-pass-illu.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/png/new-pass-illu.png
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/png/new-pass-illu.png.jar
/app/build/intermediates/assets/debug/flutter_assets/NOTICES.Z
/app/build/intermediates/flutter/debug/flutter_assets/NOTICES.Z
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/NOTICES.Z.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/png/onboarding-images/onboarding-1.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/png/onboarding-images/onboarding-1.png
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/png/onboarding-images/onboarding-1.png.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/png/onboarding-images/onboarding-2.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/png/onboarding-images/onboarding-2.png
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/png/onboarding-images/onboarding-2.png.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/png/onboarding-images/onboarding-3.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/png/onboarding-images/onboarding-3.png
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/png/onboarding-images/onboarding-3.png.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/animations/order-complete-car-delivery-animation.json
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/animations/order-complete-car-delivery-animation.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/animations/order-complete-car-delivery-animation.json.jar
/app/build/intermediates/processed_res/debug/out/output-metadata.json
/app/build/outputs/apk/debug/output-metadata.json
/app/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
/app/build/intermediates/assets/debug/flutter_assets/assets/images/logos/ic_launcher-2/play_store_512.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/logos/ic_launcher-2/play_store_512.png
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/logos/ic_launcher-2/play_store_512.png.jar
/app/build/intermediates/assets/debug/flutter_assets/packages/awesome_dialog/assets/flare/question.flr
/app/build/intermediates/flutter/debug/flutter_assets/packages/awesome_dialog/assets/flare/question.flr
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/packages/awesome_dialog/assets/flare/question.flr.jar
/app/build/intermediates/assets/debug/flutter_assets/packages/awesome_dialog/assets/rive/question.riv
/app/build/intermediates/flutter/debug/flutter_assets/packages/awesome_dialog/assets/rive/question.riv
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/packages/awesome_dialog/assets/rive/question.riv.jar
/app/build/intermediates/compile_and_runtime_not_namespaced_r_class_jar/debug/R.jar
/app/build/intermediates/runtime_symbol_list/debug/R.txt
/app/build/intermediates/assets/debug/flutter_assets/packages/remixicon/fonts/Remix.ttf
/app/build/intermediates/flutter/debug/flutter_assets/packages/remixicon/fonts/Remix.ttf
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/packages/remixicon/fonts/Remix.ttf.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/lottie/Report.json
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/lottie/Report.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/lottie/Report.json.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/lottie/Reports.json
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/lottie/Reports.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/lottie/Reports.json.jar
/app/build/intermediates/processed_res/debug/out/resources-debug.ap_
/app/build/intermediates/assets/debug/flutter_assets/assets/images/lottie/reviews.json
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/lottie/reviews.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/lottie/reviews.json.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/animations/sammy-line-come-back-later.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/animations/sammy-line-come-back-later.png
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/animations/sammy-line-come-back-later.png.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/animations/sammy-line-man-receives-a-mail.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/animations/sammy-line-man-receives-a-mail.png
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/animations/sammy-line-man-receives-a-mail.png.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/animations/sammy-line-sale.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/animations/sammy-line-sale.png
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/animations/sammy-line-sale.png.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/animations/sammy-line-success.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/animations/sammy-line-success.png
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/animations/sammy-line-success.png.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/animations/sammy-line-travel-backpack-with-passport-and-air-ticket.gif
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/animations/sammy-line-travel-backpack-with-passport-and-air-ticket.gif
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/animations/sammy-line-travel-backpack-with-passport-and-air-ticket.gif.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/animations/sammy-line-workout.gif
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/animations/sammy-line-workout.gif
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/animations/sammy-line-workout.gif.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/png/subcategory.jpg
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/png/subcategory.jpg
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/png/subcategory.jpg.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/png/subcategory.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/png/subcategory.png
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/png/subcategory.png.jar
/app/build/intermediates/assets/debug/flutter_assets/packages/awesome_dialog/assets/flare/succes.flr
/app/build/intermediates/flutter/debug/flutter_assets/packages/awesome_dialog/assets/flare/succes.flr
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/packages/awesome_dialog/assets/flare/succes.flr.jar
/app/build/intermediates/assets/debug/flutter_assets/packages/awesome_dialog/assets/flare/succes_without_loop.flr
/app/build/intermediates/flutter/debug/flutter_assets/packages/awesome_dialog/assets/flare/succes_without_loop.flr
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/packages/awesome_dialog/assets/flare/succes_without_loop.flr.jar
/app/build/intermediates/assets/debug/flutter_assets/packages/awesome_dialog/assets/rive/success.riv
/app/build/intermediates/flutter/debug/flutter_assets/packages/awesome_dialog/assets/rive/success.riv
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/packages/awesome_dialog/assets/rive/success.riv.jar
/app/build/intermediates/assets/debug/flutter_assets/packages/flutter_3d_controller/assets/template.html
/app/build/intermediates/flutter/debug/flutter_assets/packages/flutter_3d_controller/assets/template.html
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/packages/flutter_3d_controller/assets/template.html.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/lottie/upload.json
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/lottie/upload.json
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/lottie/upload.json.jar
/app/build/intermediates/assets/debug/flutter_assets/assets/images/png/verification-illustration.png
/app/build/intermediates/flutter/debug/flutter_assets/assets/images/png/verification-illustration.png
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/assets/images/png/verification-illustration.png.jar
/app/build/intermediates/assets/debug/flutter_assets/vm_snapshot_data
/app/build/intermediates/flutter/debug/flutter_assets/vm_snapshot_data
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/vm_snapshot_data.jar
/app/build/intermediates/assets/debug/flutter_assets/packages/awesome_dialog/assets/flare/warning.flr
/app/build/intermediates/flutter/debug/flutter_assets/packages/awesome_dialog/assets/flare/warning.flr
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/packages/awesome_dialog/assets/flare/warning.flr.jar
/app/build/intermediates/assets/debug/flutter_assets/packages/awesome_dialog/assets/rive/warning.riv
/app/build/intermediates/flutter/debug/flutter_assets/packages/awesome_dialog/assets/rive/warning.riv
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/packages/awesome_dialog/assets/rive/warning.riv.jar
/app/build/intermediates/assets/debug/flutter_assets/packages/awesome_dialog/assets/flare/warning_without_loop.flr
/app/build/intermediates/flutter/debug/flutter_assets/packages/awesome_dialog/assets/flare/warning_without_loop.flr
/app/build/intermediates/compressed_assets/debug/out/assets/flutter_assets/packages/awesome_dialog/assets/flare/warning_without_loop.flr.jar
